/* ===================
  RESET
=================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===================
  VARS
=================== */
:root {
  --clr-bg-primary: #dbdbd3;
  --clr-bg-secondary: #009688;

  --clr-primary: #fff;
  --clr-secondary: #eaeaea;
  --clr-accent: #f3eeea;

  --clr-search-text: #fafafa;
  --clr-icon: #b1b1b1;
  --clr-hover: #e9ebeb;
  --clr-sent: #d5f9ba;
  --clr-received: #ffffff;
  --clr-notification: #8edafc;
}

/* ===================
  TYPO
=================== */
body {
  font-family: "Lato", sans-serif;
}

/* ===================
  GLOBALS
=================== */
body {
  height: 100vh;
  background: linear-gradient(0deg, var(--clr-bg-primary) 85%, var(--clr-bg-secondary) 15%);
}

/* ===================
  LAYOUT
=================== */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1650px;
  height: 100%;
  margin: auto;
  padding: 25px;
}

#app {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
