/* ===================
  BUTTONS
=================== */
.btn {
  font-size: var(--fs-lg);
  color: var(--clr-icon);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-close--fixed {
  position: absolute;
  top: var(--gutter-xs);
  right: var(--gutter-md);
  font-size: var(--fs-md);
}
