/* ===================
  CHATS
=================== */
.chat {
  height: 100%;
  padding: var(--gutter-md);
  background-image: url(../../img/mine.jpg);
  background-position: center;
  overflow: auto;
}

.chat-message {
  display: flex;
  margin-bottom: var(--gutter-xs);
}

.chat-message--sent {
  justify-content: end;
}

.chat-message--received {
  justify-content: start;
}

.chat-message--sent > .chat-message__bubble {
  background-color: var(--clr-sent);
}

.chat-message--received > .chat-message__bubble {
  background-color: var(--clr-received);
}

.chat-message__bubble {
  position: relative;
  display: flex;
  align-items: center;
  width: 21.25rem;
  padding: var(--gutter-sm) var(--gutter-sm) var(--gutter-md);
  border-radius: 0.75rem;
}

.chat-message__date {
  position: absolute;
  bottom: 0.3125rem;
  right: var(--gutter-xs);
  font-size: var(--fs-xxs);
  color: var(--clr-icon);
}

.chat-message__options {
  display: none;
  position: absolute;
  top: 50%;
  right: var(--gutter-md);
  border-radius: 50%;
  transform: translateY(-70%);
  color: var(--clr-icon);
  cursor: pointer;
}

.chat-message__bubble:hover .chat-message__options {
  display: block;
}

.chat-message__menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  transform: translate(-10%, 70%);
  color: var(--clr-primary);
  background-color: #8d8d8d;
  border-radius: 0.625rem;
}

.chat-message__menu-item {
  margin: var(--gutter-xs) 0;
  padding: var(--gutter-xs);
  cursor: pointer;
}

.chat-message__menu-item:hover {
  background-color: var(--clr-icon);
}
