/* ===================
  CONTACTS
=================== */
.contacts {
  height: 100%;
  background-color: var(--clr-primary);
  overflow: auto;
}

.contact {
  --contact-height: 6.25rem;

  display: flex;
  align-items: center;
  position: relative;
  height: var(--contact-height);
  padding: 0.9375rem;
  cursor: pointer;
}

.contact:hover,
.contact--selected {
  background-color: var(--clr-hover);
}

.contact__img {
  height: 100%;
  border-radius: 50%;
}

.contact__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--gutter-xs);
}

.contact__name {
  font-size: var(--fs-sm);
}

.contact__message,
.contact__date {
  color: var(--clr-icon);
}

.contact__date {
  position: absolute;
  top: var(--gutter-xs);
  right: var(--gutter-xs);
}
