/* ===================
  NOTIFICATIONS
=================== */
.desktop-notification {
  --notification-height: 6.25rem;

  position: relative;
  display: flex;
  align-items: center;
  height: var(--notification-height);
  padding: var(--gutter-md) 0;
  background-color: var(--clr-notification);
}

.desktop-notification__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--notification-height) - var(--gutter-lg));
  height: calc(var(--notification-height) - var(--gutter-lg));
  border-radius: 50%;
  font-size: var(--fs-md);
  color: var(--clr-notification);
  background-color: var(--clr-primary);
  margin-left: var(--gutter-md);
}

.desktop-notification__text-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: var(--gutter-xs);
}

.desktop-notification__text {
  font-size: var(--fs-sm);
}

.desktop-notification__link {
  color: var(--clr-icon);
}
