/* ===================
  VARS
=================== */
:root {
  --clr-bg-primary: #dbdbd3;
  --clr-bg-secondary: #009688;

  --clr-primary: #fff;
  --clr-secondary: #eaeaea;
  --clr-accent: #f3eeea;

  --clr-search-bar: #fafafa;
  --clr-icon: #b1b1b1;
  --clr-hover: #e9ebeb;
  --clr-sent: #d5f9ba;
  --clr-received: #ffffff;
  --clr-notification: #8edafc;

  --border-sz: 0.0625rem;

  --gutter-xs: 0.625rem;
  --gutter-sm: 0.9375rem;
  --gutter-md: 1.25rem;
  --gutter-lg: 2.5rem;

  --fs-xxs: 0.875rem;
  --fs-xs: 1rem;
  --fs-sm: 1.125rem;
  --fs-md: 1.5rem;
  --fs-lg: 1.75rem;
}
