.a-dropdown {
  padding-block: var(--spacer-xs);
  background-color: var(--clr-bg-base);
  border-radius: 0.3125rem;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
}

.a-dropdown__item {
  padding: var(--spacer-xs);
  cursor: pointer;
}

.a-dropdown__item:hover {
  background-color: var(--clr-bg-hover);
}
